{% extends "base.html" %}

{% block content %}

  <head>
  <style>
  body {margin:0;}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DE354C;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #932432;
  }

  .active {
    background-color: #ff5100;
  }
  </style>
  </head>

  <body>

  <ul>
    <li><a href="/new" class="button">Make a buggy</a></li>
    <li><a href="/buggy" class="button">Show buggies</a></li>
    <li><a href="/json" class="button">Get buggy JSON</a></li>
  </ul>
  <div style="padding:20px;margin-top:30px;background-color:lightgrey;height:1500px;">
  <h1>
    Callum Copping's Buggy Editor :)
  </h1>

  <p>
    Use this editor to specify a racing buggy. The editor saves it in its
    little database and generates JSON data for the buggy. This is the data you
    need to supply when you log into the
    <strong><a href="{{ server_url }}">race server</a></strong> and enter your
    buggy into the next race.
  </p>
  <p>
    Remember that if your data is not accepted by the race server, your buggy
    will be disqualified from that race... so make sure you program your editor
    correctly.
  </p>
  </div>

{% endblock %}
